*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
    font-family: PopLight;
    src: url("./fonts/Poppins-Light.ttf");
  }
@font-face {
    font-family: PopRegular;
    src: url("./fonts/Poppins-Regular.ttf");
} */

@font-face {
    font-family: HelveticaNeue;
    src: url("./fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: HelveticaNeue-Bold;
    src: url("./fonts/Helvetica\ Neu\ Bold.ttf");
}
  
@font-face {
    font-family: HelveticaNeue-Medium;
    src: url('./fonts/HelveticaNeue\ Medium.ttf');
}

body {
    font-family: 'Lato', sans-serif;
}

.arc {
    color: black;
    background: white;
}

.section {
    /* min-height: 30vh; */
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    justify-content: center;
    padding-bottom: 40px;
}

nav {
    height: 57px;
    min-height: 5vh;
    font-size: 18px;
    /* width: 100%; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002C6D;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.8;
    position: relative;
    z-index: 999;
    justify-items: start;
    
}

.main-nav {
    list-style-type: none;
    display: grid;
    align-items: center;
    padding-left: 40px;
    /* width: 100%; */
}

.main-nav li  {
    text-align: left;
    
}

.nav-links {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}



.logo {
    padding: 25px 0px 0px 20px;
    height: 100px;
    left: 100px;
    /* margin-left: auto; */
}


/* .banner {
    margin-top: -70px;
    width: 1583px;
    height: 428px;
    object-fit: cover;
    background-image: linear-gradient(293deg, #007437 127%, #0067a9 14%);
  } */

.header-image {
    margin-top: -70px;
    height: 498px;
    object-fit: contain;
    background-size: cover !important;
    background:url("images/banner.png") no-repeat, linear-gradient(344.98deg, rgba(0, 116, 55, 0.84) -37.05%, rgba(0, 103, 169, 0.84) 86.82%);
    place-items: center;
}

.header-btn {
    grid-column: 2/3;
    position: absolute;
    width: 184px;
    height: 56px;
    left: 50%;
    top: 288px;
    text-align: center;
    transform: translate(-50%, 50%);
    font-family: Arial, Helvetica, sans-serif;
    font-style: Bold;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    background: #FFFFFF;
    border-radius: 28px;
    border: none;
    color: #0067A9;
}

/* .header-btn {
    grid-column: 2/3;
    position: absolute;
    margin-top: 30rem;
    left: 50%;
    transform: translate(-50%, -200%);
    background-color: white;
    color: #0067A9;
    font-size: 16px;
    font-family: HelveticaNeue;
    padding: 18px 40px;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    width: 184px;
    height: 56px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
} */

.header-text-block {
    text-align: center;  
    position: absolute;
    grid-column: 2/3;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    font-family: Lato;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 51px;
}

.text-news-and-highlights {
    grid-column: 3/4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 37px;
    padding-top: 100px;
    padding-bottom: 10px;
    color:#242c32;
    display:inline-block;
    position:relative;
    font-weight: 400;
    font-weight: bold;
}

.text-news-and-highlights::after{
    content:'';
    height:3px;
    width: 40px;
    background:#0067a9;
    position: absolute;
    left:calc(50% - 10%);
    bottom:-4px;
}

.news-and-highlights-images {
    column-gap: 40px;
    padding-bottom: 40px;
}

.big-image-1 {
    /* grid-row-start: 1/3; */
    grid-column: 2/4;
    justify-items: center;
    object-fit: cover;
    width: 100%;
    height: 395px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url("images/1.png") no-repeat;
    background-size: cover !important;
    place-items: center;
    border-radius: 4px;
}

.big-image-1 p {
    font-family: Arial, Helvetica, sans-serifNeue;
    padding-top: 270px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    color: #fff;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 400;
}

p span {
    z-index: 7;
    background: #007437;
    /* opacity: 0.8; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
}

.big-image-1 h1 {
    /* padding-top: 35vh; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    font-weight: bold;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 24px;
    text-align: left;
    line-height: 1.25;
    padding-bottom: 40px;
    letter-spacing: normal;
}

.side-image {
    height: 280px;
    grid-column: 4/5;
    /* justify-items: center; */
    /* object-fit: cover; */
    width: 100%;
    background: url("images/2.png") no-repeat;
    background-size: cover !important;
    place-items: center;
    border-radius: 4px;
}

.side-image p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 290px;
    letter-spacing: 0.0875px;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 6px;
    color: #007437;
}

.side-image h1 {
    height: 54px;
    font-family: Arial, Helvetica, sans-serif;
    color: #242c32;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 24px;
    letter-spacing: normal;
}

.news-and-highlights-image-strip {
    /* display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 50px 0px; */
    column-gap: 40px;
    grid-column: 2/5;
}

.images-strip img {
    width: 100%;
    height: 280px;
    border-radius: 4px;
}

.images-strip p {
    padding-top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.0875px;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 6px;
    color: #007437;
}

.images-strip h3 {  
    z-index: 7;
    height: 54px;
    font-family: Arial, Helvetica, sans-serif;
    color: #242c32;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 24px;
    letter-spacing: normal;
}

.load-more-btn {
    z-index: 6;
    /* padding-top: 40px; */
    width: 168px;
    /* height: 48px; */
    padding: 18px 18px;
    grid-column: 3/4;
    border-radius: 24px;
    position: relative;
    background-color: #0067a9;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 2vh;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}

.media-object {
    background-size: cover !important;
}

.upcoming-events-and-tweets {
    padding-top: 10vh;
    column-gap: 40px;
    background-image: linear-gradient(to bottom, rgba(101, 107, 111, 0.06), rgba(216, 216, 216, 0) 68%);
}

.upcoming-events {
    grid-column: 2/4;
    text-align: center;
    /* column-gap: 40px; */
}

/* .upcoming-events-header{
   border:1px solid red;
} */
.heading-bottom{
    margin: 10px auto;
    background-color: #0067a9;
    height: 3px;
    width: 35px;
}
.upcoming-events img {
    width: 112px;
    height: 120px;
    padding-top: 3vh;
}

.media-body {
    text-align: left;
    padding-top: 2.5vh;
}

.media-body p {
    color: #007437;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
}

.media-body h3 {
    color: #242c32;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.media-body h4 {
    color: #656b6f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 29px;
}

.media-left{
    float: left;
    margin-right:12px;
}

.load-more-btn-upcoming-events {
    z-index: 6;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 168px;
    /* height: 48px; */
    padding: 18px 18px;
    grid-column: 3/4;
    border-radius: 24px;
    position: relative;
    background-color: #0067a9;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-weight: bold;
    letter-spacing: normal;
    cursor: pointer;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
}

.tweets {
    text-align: center;
}

.feed {
    padding-top: 5vh;
    width: 100%;
    height: 420px;
}

.embed {
    z-index: 6;
    margin-top: -96px;
    margin-bottom: 40px;
    margin-right: 80px;
    width: 184px;
    height: 54px;
    padding: 18px 18px;
    grid-column: 4/5;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
    color: #0067a9;
}

.view-more-button {
    z-index: 6;
    margin-top: -95px;
    margin-bottom: 40px;
    width: 184px;
    height: 54px;
    padding: 18px 18px;
    grid-column: 4/5;
    border-radius: 24px;
    position: relative;
    background-color: #0067a9;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    border: none;
    cursor: pointer;
    justify-self: end;
    text-transform: uppercase;
    text-align: center;
}

.areas-we-serve {
    padding-top: 10vh;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    min-height: auto;
    column-gap: 40px;
    background-color: #f8f9f9;
}

.heading-areas-we-serve {
    grid-column: 2/3;
    grid-row: 1;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding-bottom: 20px;
    color:black;
    display:inline-block;
    position:relative;
}

.text-areas-we-serve-main {
    grid-column: 2/4;
}

.text-areas-we-serve {
    grid-column: 2/4;
    opacity: 0.6;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 16px;

    font-weight: normal;

    font-stretch: normal;

    font-style: normal;

    line-height: 1.5;

    letter-spacing: normal;

    color: #242c32;
}

.read_more { 
    padding-top: 20px;
    padding-bottom: 20px;
    width: 74px;
    height: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0067a9;
}

.map-of-areas-we-serve {
    grid-column: 4/6;
    /* width: 50px; */
    width: 100%; 
    min-height: 610px;
    display: block;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    object-fit: contain;
    justify-self: center;
}

.map-of-areas-we-serve img {
    float: right;
    width: 442px;
    height: 526px;
    background-size: cover !important;
}

.appalachin-states h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    /* justify-items: start;
    width: 180px;
    height: 35px;
    font-family: HelveticaNeue;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #242c32; */
}

.appalachin-states  p {
    justify-items: start;
    color: #0067a9;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: normal;
}

/* .input-group {
    padding-left: 5px;
} */

.newsletter-form {
    margin: 10px 100px;
}


.newsletter-title{
    width: 367px;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242c32;
}

.footer{
    background: #f8f9f9;
}

.bottom-footer{

    margin-top:-120px;    
}

.footer-content{
    background: radial-gradient(80.89% 745.52% at 2.85% 21.41%, #0198FF 0%, rgba(11, 72, 145, 0.9) 0.01%, rgba(0, 20, 33, 0.81) 100%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
}
.footer-column{
    padding:2rem;
    flex: 1 0 10%; 
    /* margin-top: 150px; */
    height:400px; 
    /* margin-bottom: 40px; */
    margin: 100px 50px 40px 50px;
}

.footer-title{
    color:#fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    margin-top: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

.footer-link{
    list-style:none;
    margin-top:12px;
}

.footer-link > li > a{
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    opacity: 0.76;
    text-decoration: none;
    
    font-weight: normal;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: normal;
}

.footer-link > li > a:hover{
    text-decoration: none;
    color:#086DB2;
}

.simple-subscription-form {
    background: #ffffff;
    color: #fefefe;
    padding: 20px;
    border-radius: 0;
    grid-column: 2/4;
    width: 100%;
    height: 152px;
    justify-self: center;
}
  
.newsletter-btn {
    height:40px;
    width: 120px;
    background-color: #086DB2;
    font-size: 14px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:#fff;
    border:none;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 20px;
}

.input-group-field {
    /* border:1px solid grey;
    height: 40px;
    border-radius: 4px;
    width: 60%; */
    width: 440px;

    height: 40px;

    border-radius: 4px;

    border: solid 1px #979797;

    background-color: #ffffff;
}

.input-group-field::placeholder{
    /* font-size:16px; */
    font-family: Arial, Helvetica, sans-serif;
    padding:10px 20px;
    opacity: 0.7;
    font-weight: bold;
}

.footer-social{
    /* height:200px; */
    grid-column: 4/5;
    background-color:#007437;
    
}
.social-title{
    color:#fff;
    font-family: PopRegular;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: normal;
    /* text-align: center; */
    margin: 29px 80px;
}

.social-icon{
    font-size:30px;
    color:#fff;
    /* padding-left:78px; */
    /* margin:0px 18px; */
    margin-left: 78px;
}

.footer-strip {
    margin-top: -40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.19);
}

.footer-menu{
    list-style: none;
     margin:0;
     text-align: center;
   
}
.footer-menu li {
    display: inline-block;
    padding:6px;
}

.footer-menu li a {
    color: #fff;
    padding: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
}

.footer-menu li a:hover {
    color:#fff;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        /* width: 100%; */
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
        text-align: right;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}